{deps, [
    {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.6.1"}}}
]}.

{eunit_opts, [verbose]}.

{xref_warnings,false}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              %% There's bunch of functions exported but unused,
              %% for the time being, do not run exports_not_used Xref check
              %% exports_not_used,
              deprecated_function_calls,
              deprecated_functions
             ]}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.
