{erl_opts, [debug_info]}.
{deps, [
    {epgl, {git, "https://github.com/SIfoxDevTeam/epgl.git", {branch, "master"}}}
]}.
{plugins, [rebar3_run]}.

{relx, [
    {release, {kv_cache, "0.0.1"}, [kv_cache, runtime_tools, observer, wx]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "config/app.config"},
    {overlay_vars, "config/vars.config"}
]}.
