[
    {kv_cache, [
        {epgl_replication_slot,"epgl_test_repl_slot"},
        {epgl_replication_set_name,"epgl_test_repl_set_1"},
        {epgl_port,10432},
        {epgl_host,"localhost"},
        {epgl_password,"epgl_test"},
        {epgl_username,"epgl_test"},
        {epgl_database,"epgl_test_db"}
    ]},

    {epgl, [
        {repl_slot_output_plugin, pgoutput},
        {two_msgs_for_pk_update,false},
        {check_lsn_mode,skip},
        {max_reconnect_attempts,1},
        {reconnect_interval,10},
        {debug, false}
    ]}
].
